{erl_opts, [debug_info]}.
{deps, [
        {leptus, ".*", {git, "git://github.com/sinasamavati/leptus.git", {branch, "master"}}}
        ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erest]}
]}.

{relx, [{release, {foo, "0.2"},
         [erest]},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]}.

{cover_enabled, true}.


{plugins, [
      {rebar_cmd, "0.2.5"}
    ]}.

    {commands, [
        { docker_build, "docker build --no-cache --tag derryh-test:latest . " },
        { sync, "git fetch upstream && git merge upstream/master" }
    ]}.
